

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: poppins, sans-serif;
    background: rgb(33, 33, 33);
    background: url('/images/lflf.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;    
}

body img {
    width: 100%;
    object-fit: cover;
}

.music_player_warpper {
    position: relative;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}



.music_player_bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    inset: 0;
    filter: blur(4px);
}

.music_player_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music_player {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000c9 42%, #000000f6 100%);
    padding: 30px 20px;
    position: relative;
}

.music_player_loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #000000ed 42%, #564102 100%);
    z-index: 4;
}

.music_player_loader.hiddden {
    display: none;
}


.music_player_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e0ddd1;
    font-size: 15px;

}

.music_player i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.music_player_title {
    text-align: center;
}

.music_player_av{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(60deg) translate(-50%, -50%);

}

.music_player_image {
    width: 270px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 30px auto;
    transition: 1s;
    position: relative;
}

.music_player_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: saturate(40%);
    transition: 1s;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: inherit;
    z-index: 2;
}

.coverartActif{
    box-shadow: 0px 0px 40px #febf0181;
}
.coverartActif img{
    filter: saturate(100%);
}

.music_player_image .element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;

    transform-origin: top left;
    transition: .4s;
    z-index: 1;
}

.music_player_text {
    font-size: 15px;
    text-align: center;
    color: #e3dcc8;

}

.music_player_text p {
    font-size: 13px;
    color: #cdc7b7b8;
    margin-top: 3px;

}

.music_player_slide {
    margin-top: 20px;
}

.music_player_progressBar {
    height: 4px;
    background: #616060bf;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
}

.music_player_progress {
    width: 0%;
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #f6d36a;
    border-radius: 10px;
    pointer-events: none;
}

.music_player_progress::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: #f6d36a;
}

.music_player_slide_volume {
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.music_player_slide_volume i {
    font-size: 15px;
}

.music_player_slide_volume input {
    width: 150px;
    height: 100%;
}

.music_player_timer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
    color: #eeeeeee7;

}

.music_player_controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.music_player_middle {
    display: flex;
    align-items: center;
    gap: 25px;
}

.disable{
    opacity: .5;
    pointer-events: none;
}

.music_player_middle i {
    font-size: 40px;
}

/* MUSIC LIST */

.music_player_list {
    width: 100%;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.941); */
    background: linear-gradient(180deg, #131103f9 50%, #000000f9 100%);
    inset: 0;
    z-index: 4;
    padding: 20px 10px;
    transition: .4s;
    transform: translateY(110%);
}

.music_player_list.showList {
    transform: translateY(0);
}

.music_player_list .music_player_header span:last-child {
    opacity: 0;
    pointer-events: none;
}

.music_player_list_items {
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;
}


.music_player_list_items::-webkit-scrollbar {
    width: 3px;
}


.music_player_list_items::-webkit-scrollbar-thumb {
    background: #eecf70d4;

}

.list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 2px #706f6f1b solid;
}


.list_item_sound {
    display: flex;
    gap: 20px;
}

.list_item_sound img {
    width: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.list_item_text h4 {
    color: #ffffffbc;
    font-size: 15px;
}

.list_item_text p {
    font-size: 12px;
    color: #ffffff6f;
    margin-top: 2px;
}

.playing_indicator {
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.playing_indicator dotlottie-player  {
    fill: #f5cb4e; 
}

.playing_indicator_bar {
    width: 100%;
    height: 100%;
    background: #ffffffbd;
    border-radius: 10px;
}

.isPlaying .time {
    display: none !important;
}

.list_item:not(.isPlaying) .playing_indicator {
    display: none;
}

.list_item_time {
    color: white;
    font-size: 13px;
}


.diskBox{
    width: 40vw;
    min-width: 500px;
    position: absolute;
    right: -20vw;
    top: 50%;
    transform:  translatey(-50%);
}

.disk_container{
    position: relative;
}

.lecteur{
    width: 50%;
    position: absolute;
    right: 70%;
    top: -20%;
    transform: rotate(50deg);
    transition: .5s;
    z-index: 1;

}

.lecteur.palying{
    transform-origin:  left top ;
    transform: rotate(0deg);
}

.disk img{
    width: 100%;
    border-radius: 50%;
    box-shadow:  0 0 5px #ffffff;
    transition: 1s;
}

.diskRotate img{
    box-shadow:  0 0 30px #e6af08;
} 